body{
    margin: 0;
}
header{
    background-color: brown;
    display: flex;
    color: white;   
}
.hed1{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;   
    padding-right: 50%;
    align-items: center;
    
}
.hedd1{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    word-spacing: 10px;
    padding: 0%;  
}
.sr{
    filter: invert(100%);
    padding-top: 20%;	
}